<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top ">

  <div class="navbar-toggler-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <!-- Important - make sure to have the toggler button outside of the container -->

  <a class="navbar-brand" href="#">
    <!-- <img src="img/bootstrapcreative-icon.svg" width="25" height="25" class="d-inline-block align-top" alt=""> -->
    <span class="">Evoker </span>
  </a>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav justify-content-end w-100">
      <li class="nav-item">
        <a class="nav-link" href="../../homepage/layout/" target="_blank">Visit Site <i class="fa fa-external-link"
            aria-hidden="true"></i> </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item float-lg-right">
        <a href="" class="nav-link "><i class="fa fa-bell text-warning" aria-hidden="true"></i> <span
            class="badge-pill badge-danger text-light">3</span></a>
      </li>
      <li class="nav-item dropdown user">

        <a class="nav-link dropdown-toggle" href="#" role="button" id="responsiveNavbarDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><img
            src="https://secure.gravatar.com/avatar/38eff4a7ab7f391783f71ccb38508df6?s=30" alt=""
            class="rounded-circle"> Hi Jacob Lett</a>

        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" href="#">Edit My Profile</a>
          <a class="dropdown-item" href="#">Log Out</a>
          <a class="dropdown-item" href="#">Help</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col main">
      <app-renderer></app-renderer>
    </div>
  </div>
</div>
